.input[type='radio']::before {
  content: '';
  width: 8px;
  height: 8px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #6366f1;
}

.input[type='radio']:checked::before {
  transform: scale(1);
}
